<div class="card">
    <div class="card-header">
        <h5 class="mb-0">State</h5>
    </div>
    <div class="card-body border-top">
        <%= form_with model: @state, class: "form-validate-jquery", local: true do |form| %>

            <div class="mb-3 row">
                <%= form.label :country, class: "col-sm-2 col-form-label" %>
                <div class="col-lg-9">
                    <%= form.collection_select :country_id, Country.order(:name), :id, :name, { prompt: 'Select a Country' }, { id: 'country-select', class: "form-select" } %>
                </div>
            </div>

            <div class="mb-3 row">
                <%= form.label :name, class: "col-sm-2 col-form-label" %>
                <div class="col-lg-9">
                    <%= form.text_field :name, class: "form-control" %>
                </div>
            </div>

            <div class="mb-3 row">
                <%= form.label :abbreviation, class: "col-sm-2 col-form-label" %>
                <div class="col-lg-9">
                    <%= form.text_field :abbreviation, class: "form-control" %>
                </div>
            </div>

            <div class="mb-3 row">
                <%= form.label :capital, class: "col-sm-2 col-form-label" %>
                <div class="col-lg-9">
                    <%= form.text_field :capital, class: "form-control" %>
                </div>
            </div>

            <div class="mb-3 row">
                <%= form.label :active, class: "col-sm-2 col-form-label"  %>
                <div class="col-lg-9">
                    <%= form.check_box :is_active, class: "mb-2 form-check-input" %><br>
                </div>
            </div>

            <div>
                <%= form.submit "Create State", class: "btn btn-primary mt-2 mb-2" %>
            </div>

        <% end %>
    </div>
</div>
