<div class="card">
    <div class="card-header">
        <h5 class="mb-0">State</h5>
    </div>
    <div class="card-body border-top">
        <%= form_with model: @state, class: "form-validate-jquery", local: true do |form| %>

            <div class="mb-3">
                <%= form.label :country_id, "Country", class: "form-label" %>
                <%= form.collection_select :country_id, Country.all, :id, :name, { prompt: 'Select a country' }, { class: "form-select" } %>
            </div>

            <div class="mb-3">
                <%= form.label :name, "State Name", class: "form-label" %>
                <%= form.text_field :name, required: true, placeholder: "Enter State Name", class: "form-control" %>
            </div>

            <div class="mb-3">
                <%= form.label :abbreviation, "Abbreviation Code", class: "form-label" %>
                <%= form.text_field :abbreviation, required: true, placeholder: "Enter Abbreviation Code", class: "form-control" %>
            </div>

            <div class="mb-3">
                <%= form.label :capital, "Capital", class: "form-label" %>
                <%= form.text_field :capital, required: true, placeholder: "Enter Capital", class: "form-control" %>
            </div>

            <div class="mb-3 form-check">
                <%= form.label :is_active, class: "form-check-label" do %>
                    <%= form.check_box :is_active, id: "dc_ls_c", class: "form-check-input" %>
                    Is Active
                <% end %>
            </div>

            <div class="text-end">
                <%= form.submit "State Created", class: "btn btn-primary" %>
            </div>

        <% end %>
    </div>
</div>
