<%= form_with model: @city do |form| %>
   <div class="mb-3 row">
    <%= form.label :name, class:"col-sm-2 col-form-label" %>
    <div class = "col-lg-9">
    <%= form.text_field :name, class:"form-control" %>
  </div>
    <% @country.errors.full_messages_for(:name).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
   <div class="mb-3 row">
    <%= form.label :code, class:"col-sm-2 col-form-label" %>
    <div class = "col-lg-9">
    <%= form.text_field :code, class:"form-control" %>
  </div>
    <% @country.errors.full_messages_for(:code).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
   <div class="mb-3 row">
    <%= form.label :active, class:"col-sm-2 col-form-label"  %>
    <div class = "col-lg-9">
    <%= form.check_box :is_active, class:"mb-2 form-check-input" %><br>
  </div>
    <% @country.errors.full_messages_for(:is_active).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.submit"Create City", class:"btn btn-primary mt-2 mb-2" %>
  </div>
<% end %>
